@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img{
	width: 100%;
	border-radius: 12px;
	height: 214px;

	object-fit: cover;
}


body {
  background-color: #f5ebf3;
  font-family: "Roboto", sans-serif;
}

#container {
	max-width: 300px;
	margin: 0 auto;

	margin-top: 10vh;
}

.tag{
	padding: 4px 8px;
	border: 2px solid #salmon;

	border-radius: 50px;
	font-size: 12px;
	font-weight: 600;
	color: #7f8c98;
}

.name{
	font-size: 24px;
	font-weight: 600;

	margin-top: 16px;
}

.p{
	font-size: 14px;
	color: #7f8c98;
	line-height: 150%;
}

.button{
	border: none;
	padding: 12px 24px;
	border-radius: 50px;

	font-weight: 600;
	color: blue;
	background-color: #9effff;

	margin: 0 auto;
	display: block;
}

button:focus, button:hover {
	background-color: blue;
	color: #9effff;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

.card__details{
	padding: 16px 8px 8px 8px
}



